#################
## Eclipse
#################

PET/
test/
testdata/
molecules/
DERIVESTsuite/
FMINSEARCHBND/
EXTERNAL FUNCTIONS/
*Thumbs.db
IsotopeDistribution/molecules/
IsotopeDistribution/generate_makros/*
!IsotopeDistribution/generate_makros/example.m
Binary/
/out*.txt
*.asv
*.ifd