#################
## Eclipse
#################

PET/
test/
testdata/
DERIVESTsuite/
FMINSEARCHBND/
*Thumbs.db
IsotopeDistribution/molecules/
IsotopeDistribution/generate_makros/
Binary/
/out*.txt
*.asv
*.ifd